<%= javascript_include_tag :defaults %>

<table>
  <tr>
    <td valign="top"><%= render :partial => 'submenu' %></td>
    <td>
      <%= render :partial => 'edit_skill_maturity_range' if @skill_maturity_range != nil %>
      <%= render :partial => 'new_skill_maturity_range' if @skill_maturity_range == nil %>
      <%= render :partial => 'list_skill_maturity_ranges' %>
    </td>
  </tr>
</table>