<%= javascript_include_tag :defaults %>

<table>
  <tr>
    <td valign="top"><%= render :partial => 'submenu' %></td>
    <td>
      <%= render :partial => 'edit_skill_maturity_model' if @skill_maturity_model != nil %>
      <%= render :partial => 'new_skill_maturity_model' if @skill_maturity_model == nil %>
      <%= render :partial => 'list_skill_maturity_models' %>
    </td>
  </tr>
</table>